* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------  
     Layouts 
--------------*/
body {
    font-family: Roboto;
    background-color: #40495e;
}

img {
    display: none;
}

.pad {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1em;
    width: 100%;
    padding: 0.5em;
}

#trumpet-E8 {
    grid-column-start: 1;
    grid-column-end: 4;
}

#info {
    color: white;
    width: 100%;
    font-size: 1.1rem;
    padding: 1em;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    text-shadow: 2px 2px 2px black;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    white-space: nowrap;
    transform: translateX(-50%);
    color: white;
    font-size: .75rem;
}

.footer a {
    text-decoration: none;
    color: #49A078;
}

@media only screen and (min-height: 530px) {
    img {
        display: block;
        margin: auto;
        height: calc(100vh - 530px);
    }
}

@media only screen and (min-width: 425px) {
body {
    background-color: #D2A448;
    background-image: url("../images/trumpet.png");
}

#drum-machine {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #40495e;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0.75em;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 3px 3px 10px black;
    max-width: 40em;
    width: 100%;
}

#info {
    margin: auto 0;
    margin-left: 0.4em;
}

.footer {
    color: blue;
}

img {
    display: none;
}

}

/* ------------  
     Buttons
--------------*/

.drum-pad, #display {
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 2px 2px 3px black;
}

.drum-pad {
    color: white;
    padding: 1em;
    font-size: 1.5rem;
    text-decoration: none;
}

#display {
    background-color: white;
    color: #383636;
    display: block;
    width: 80%;
    padding: 0.5em 0;
    height: 2.5em;
    margin: 0 auto;
    margin-top: 0.4em;
}
