* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-direction: column;
  background-color: #A299FF;
}

.title {
  background-color: #7C70FF;
  box-shadow: 0 .0125em .625em #0D0C1D;
  padding: .625em;
  text-align: center;
}

.footer {
  text-align: center;
  font-size: .8rem;
}


/* -------------- 
 Grid Pad Layout
-----------------*/
#drum-machine {
  width: 18.25em;
  box-shadow: .125em .125em .625em #0D0C1D;
  border-radius: 8px;
  background-color: #495AAB;
  margin: auto auto;
  padding: 0.325em;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.225em;
  overflow: hidden;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

#trumpet-E8 {
  grid-column-start: 1;
  grid-column-end: 4;
}

/* -------------- 
   Info Display
-----------------*/

#info {
  padding: 0.625em;
  text-align: center;
  background-color: #161B33;
  text-transform: uppercase;
  color: #F8F0FB;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: .225em;
  font-weight: bold;
  justify-content: space-around;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

#display {
  padding: .625em .625em;
  min-height: 2.5em;
  flex-grow: 1;
}

/* ------------  
     Buttons
--------------*/
  
button {
  border: 0;
  padding: 1em .725em;
  background-color: #6271BC;
  color: #F8F0FB;
}

button:active {
  background-color: cornflowerblue;
}
